.success {
    scale: 0.85;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 5px;
    font-weight: bolder;

    box-sizing: content-box;
    background: rgba(32, 122, 32, 0.61);
    background-size: 100px;

    /* background-image: url('https://cdn.discordapp.com/attachments/708302355803799602/1004563212152352829/succes2.png');  */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    background-position-y: 7px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    background-size: 35px;
    letter-spacing: 1px;

}

.primary {
    scale: 0.85;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50px;
    font-weight: bolder;

    box-sizing: content-box;
    background-color: rgba(26, 58, 107, 0.623);
    background-size: 100px;

     /* background-image: url('https://cdn.discordapp.com/attachments/708302355803799602/1004563211686776993/main2.png');   */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 

    background-position-y: 7px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    background-size: 35px;
    letter-spacing: 1px;

}

.error {
    scale: 0.85;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 5px;
    font-weight: bolder;

    box-sizing: content-box;
    background: rgba(112, 10, 10, 0.616);
    background-size: 100px;

    /* background-image: url('https://cdn.discordapp.com/attachments/708302355803799602/1004563211334463548/error2.png');  */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 

    background-position-y: 7px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    background-size: 35px;
    letter-spacing: 1px;
}

