body {
    padding: 0;
    margin: 0;
}

#board-container {
    display: none;
    background: rgba(17, 17, 17, 0.4);
    box-shadow: 1 1 5px rgb(34, 34, 34);
    position: absolute;
    bottom: 30%;
    left: 2.8vh;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
}

.key-line {
    display: flex;
}

.key {
    color: #4caf50;
    text-shadow: 0 0 5px #4caf50;

}

.key-ex {
    padding-left: 11px;
    color: #f5f5f5;
    /* box-shadow: 0 0 10px rgb(255, 255, 255); */
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    align-items: center;
}