body {
  user-select: none;
  overflow: hidden;
}

.ana {
  display: none;
  position: absolute;
  right: -335px;
  top: 90px;
}

.text {
  position: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  color: white;
  font-size: 15px;
  font-weight: normal;
  font-family: "Montserrat";
}